/* About CSS */

.about-header {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    max-width: 960px;
    margin: 10px;
    margin-bottom: 2rem;
    text-align: center;
}

.about-header h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-body {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    max-width: 960px;
    margin: 10px;
    text-align: center;
}

.about-body p {
    font-size: 1.1rem;
    color: #555;
}